<%- include('partials/header') -%>

<div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(let i=0; i<bookmarks.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="card text-center" style="max-width: 501px;">

                <div class="">
                    <a href="/user/<%= post[i].user._id%>"><i class="bi bi-person-square fs-4 mx-2" style="color: #04a9e9"></i></a>
                    
                    <a href="/user/<%= post[i].user._id%>" style="color: black"><%= post[i].user.userName%> </a>
                  </div>
                  <a href="/post/<%= bookmarks[i].post._id%>"><img style="height: 500px; width: 500px;" src="<%= bookmarks[i].post.image%>"></a>
             
             
              </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  




  




<%- include('partials/footer') -%>