<%- include('partials/header') -%>

<section>

                <% for(let i=0; i<posts.length; i++) {%>
                <div class="card  text-center mt-4 mx-auto" style="max-width: 501px;">

                  <div class="card-footer d-flex justify-content-between">
                    <div class="mb-2">
                      <a href="/user/<%= posts[i].user._id%>"><i class="bi bi-person-square fs-4 mx-2" style="color: #04a9e9"></i></a>
                      
                      <a href="/user/<%= posts[i].user._id%>" style="color: black"><%= posts[i].user.userName%> </a>
                    </div>
                    
                    
                    <form action="/post/bookmarkPost/<%= posts[i]._id %>" method="POST">
                      <button class="btn">
                       <i class="bi bi-bookmark-plus-fill fs-4" style="color: #04a9e9"></i> 
                      </button>
                    </form>
                  </div>
                 
                  <a href="/post/<%= posts[i]._id%>">
                    <img class="img-fluid feed-images " src="<%= posts[i].image%>">
                  </a>

                  <div class="card-footer" style="min-height: 4rem;">
                    <p class="card-text mt-2"><%= posts[i].caption%></p>
                  </div>
                  <div style="text-align: left; margin-left: 0.5rem; font-size: 14px;">
                    <p class="card-text"> posted <%= moment(posts[i].createdAt, "YYYYMMDD").fromNow() %></p>
                  </div>
                
                  </div>
      
                <% } %>

               

</section>

<%- include('partials/footer') -%>