

<%- include('partials/header') -%>

<section>

    <div class="container">
    
          <ul class="list-unstyled text-center ">
            <% for(var i=0; i<posts.length; i++) {%>
              <li class="mt-5">
                <h4> <a href="/profile/<%= posts[i].user._id%>"><%= posts[i].user.userName%> </a></h4>
                <a href="/post/<%= posts[i]._id%>">
                  <img class="img-fluid feed-images" src="<%= posts[i].image%>">
                </a>
              </li>
              <span><%= posts[i].caption%></span>
            <% } %>
            </ul>
        </div>
    

</section>



<%- include('partials/footer') -%>