<%- include('partials/header') -%>

<section>

                <% for(let i=0; i<posts.length; i++) {%>
                <div class="card mb-3 text-center mt-5 mx-auto" style="max-width: 500px;">

                  <div class="card-footer ">
                    <a href="/user/<%= posts[i].user._id%>"><%= posts[i].user.userName%> </a>
                  </div>
                 
                  <a href="/post/<%= posts[i]._id%>">
                    <img class="img-fluid feed-images rounded" src="<%= posts[i].image%>">
                  </a>

                  <div class="card-footer ">
                    <p class="card-text"><%= posts[i].caption%></p>
                  </div>

                </div>
      
                <% } %>

</section>

<%- include('partials/footer') -%>