
<%- include('partials/header') -%>

        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 card" style="border: none;">
        <div class="card-footer d-flex justify-content-between">
          <div class="mb-2 d-flex">
            <a href="/user/<%= post.user._id%>"><i class="bi bi-person-square fs-4 mx-2 icon"></i></a>
          <a href="/user/<%= post.user._id%>" style="margin-top: 10px; color: black;"><p><strong><%=post.user.userName%></strong></p></a> 
          </div>
          <form action="/post/bookmarkPost/<%= post._id %>" method="POST">
            <button class="btn">
             <i class="bi bi-bookmark-plus-fill fs-4 icon"></i> 
            </button>
          </form>
        </div>

        

              <img src="<%= post.image%>" alt="responsive webite" class="img-fluid">

<div class="card-footer d-flex justify-content-between" style="height: 4rem;">
  <div class="d-flex">
    <form
                  action="/post/likePost/<%= post._id %>?_method=PUT"
                  method="POST"
                >
                
                <button class="btn">
                <i class="bi bi-hand-thumbs-up-fill fs-4 icon" ></i>  <%= post.likes %></button>
                </form>

                <%if(post.user._id == user.id){ %>
                  <form
                    action="/post/deletePost/<%= post._id %>?_method=DELETE"
                    method="POST"
                    class="col-3"
                  >
                    <button class="btn mt-2">
                      🗑️</button>
                  </form>
                  <%}%>


  </div>
  

  <div class="d-flex mt-3">
    <p>  <%= comment.length %> <em>comments</em> | <%= bookmark.length %> <em>bookmarks</em></p>
  
  </div>
  
</div>
</div>
            
            <div class="col-xl-6 col-lg-6 col-md-6 card" style="border: none;">
              <div class="card-footer" style="min-height:75px">
                <p style="margin-bottom: 2px;"><strong>Case Description </strong></p>
                <span><%= post.caption %></span>
              </div>

              <div class="scroll">
                <ul class="list-unstyled  ">
                <% for(var i=0; i<comment.length; i++) {%>
                  <li class="mt-5 row">
                    <a href="/user/<%= comment[i].user._id%>"><p class="font-weight-light"><strong style="color: black"><%= comment[i].user.userName %></strong></a> |
                    <em><%= formatDate(comment[i].createdAt, 'Do MMMM, YYYY') %> </em></p>
                    <p> <%= comment[i].body %> </p> 
                    
                    
                  </li>
                <% } %>
                </ul>
              </div>
            

                <div class="card-footer">
                  <form action="/post/<%= post._id %>" method="POST">
              
                    <div class="">
                        <div class="input-field">
                            <p>Comment:</p>
                            <textarea id="body" name="body" style="min-width: 500px; min-height: 70px"></textarea>
                        </div>
                    </div>
                
                    <div class="">
                        <input type="submit" value="Submit" class="btn">
                    </div>
                </form>
                
                </div>
            </div>


          

          </div>
        </div>
  </div>
  
  

<%- include('partials/footer') -%>
