
<%- include('partials/header') -%>

        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 card" style="border:1px solid 
        #ddd">
              <img src="<%= post.image%>" alt="responsive webite" class="img-fluid">

              <div class="d-flex justify-content-between card-footer">
                <form
                  class="col-1"
                  action="/post/likePost/<%= post.id %>?_method=PUT"
                  method="POST"
                >
                <button class="btn fs-4 justify-content-between" style="color: #04a9e9"><i class="bi bi-hand-thumbs-up"></i></button>
                </form>

                <h3>Likes: <%= post.likes %></h3>

                <%if(post.user == user.id){ %>
                <form
                  action="/post/deletePost/<%= post.id %>?_method=DELETE"
                  method="POST"
                  class="col-3"
                >
                  <button class="btn btn-primary fa fa-trash" type="submit">Delete</button>
                </form>
                <%}%>
              </div>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid 
        #ddd">
              <h2><%= post.caption %></h2>
              <ul class="list-unstyled text-center ">
                <% for(var i=0; i<comment.length; i++) {%>
                  <li class="mt-5 row">
                    <span class="lead"> "<%= comment[i].body %>" </span> 
                    <span class="font-weight-light"> by: <%= comment[i].user.userName %></span>
                    <span class="font-italic"> <%= formatDate(comment[i].createdAt, 'Do MMMM, YYYY') %></span>
                  </li>
                <% } %>
                </ul>
            </div>
          </div>
        </div>
  </div>
  

  <div class="container d-flex justify-content-center">
    <form action="/post/<%= post._id %>" method="POST" class="col-2 mt-5">

      <div class="">
          <div class="input-field">
              <h5>Comment:</h5>
              <textarea id="body" name="body"></textarea>
          </div>
      </div>
  
      <div class="">
          <input type="submit" value="Submit" class="btn">
      </div>
  </form>
  
  </div>
  

<%- include('partials/footer') -%>
