<%- include('partials/header') -%>

<div class="mt-5">
        <h1><%=user.userName%></h1>
</div>


<div class="col-6">
    <ul class="row list-unstyled">
    <% for(var i=0; i<posts.length; i++) {%>
      <li class="col-6 justify-content-between mt-5">
        <a href="/post/<%= posts[i]._id%>">
          <img class="img-fluid" src="<%= posts[i].image%>">
        </a>
      </li>
     
    <% } %>
    </ul>

<%- include('partials/footer') -%>