<%- include('partials/header') -%>

<section>
    <div class="mt-5">
        <div class=" card " style="border: none">
    <div class="card-footer text-center">
      <p style="margin-top: 10px; font-weight: bold; font-size: 1.5rem;" ><%=user.userName%></p>
    </div>

    <div class="container-fluid">
      <div class="row">
        
        <div class="col card-footer">
          <p class="lead text-center">Posts</p>


            <div class="text-center">
             

              <ul class="list-unstyled scroll" style="max-height: 500px;">
              <% for(var i=0; i<posts.length; i++) {%>
                <li class="mt-5">
        
                <a href="/post/<%= posts[i]._id%>">
                        <img class="img-fluid rounded text-center" src="<%= posts[i].image%>" style="max-height: 300px; max-width: 400px; object-fit: cover;">
                      </img></a>
                      <p style="max-width: 400px; margin: 0 auto;"><%= posts[i].caption%></p>
                   
                    </li>
                    <% } %>
                    </ul>
                      
               
            </div>
          </div>
   


        
        <div class="col card-footer scroll">
          <p class="lead text-center">Comments</p>
           
          <ul class="list-unstyled">
            <% for(var i=0; i<comments.length; i++) {%>
              <li class="mt-5 ">
                <span > <a href="/post/<%=comments[i].post%>"><%= comments[i].body %> </a> </span> 
               
                <p class="font-italic"> <%= moment(comments[i].createdAt, "YYYYMMDD").fromNow() %></p>
              </li>
            <% } %>
            </ul>

        </div>
      </div>
    </div>
</div>

</section>

<%- include('partials/footer') -%>