<%- include('partials/header') -%>


<div class="mt-5">
        <h1><%=user.userName%>'s Profile</h1>
</div>



    <div class="container-fluid mt-5 d-flex">
      <div class="row">
        <div class="col-xl-10">

            <ul class="list-unstyled">
              <h2>Cases</h2>
              <% for(var i=0; i<posts.length; i++) {%>
                <li class="col-8 justify-content-between mt-5">
                  <a href="/post/<%= posts[i]._id%>">
                    <img class="img-fluid rounded" src="<%= posts[i].image%>">
                  </a>
                </li>
               
              <% } %>
              </ul>
            



          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <h2>Comments</h2>
           
          <ul class="list-unstyled text-center ">
            <% for(var i=0; i<comments.length; i++) {%>
              <li class="mt-5 row">
                <span class="lead"> <a href="/post/<%=comments[i].post%>">"<%= comments[i].body %>" </a> </span> 
                <span class="font-italic"> <%= formatDate(comments[i].createdAt, 'Do MMMM, YYYY') %></span>
              </li>
            <% } %>
            </ul>

        </div>
      </div>
    </div>
</div>


<%- include('partials/footer') -%>